.person-info {
    align-items: center;
    background-color: var(--color-slate-10);
    border-radius: $border-radius;
    color: var(--color-gold-darker);
    display: flex;
    gap: 0.5*$unit;
    padding: 0.5*$unit;
    width: max-content;

    > .is-leading-icon {
        color: var(--color-gold);
    }

    > .is-labels {
        align-items: center;
        display: flex;
        gap: 0.5*$unit;

        > * {
            margin-bottom: 0;
        }

        > .is-name {
            align-items: center;
            display: flex;

            &:after {
                color: var(--color-slate-50);
                content: '|';
                margin-left: 0.5*$unit;
            }
        }

        > .is-role {
            @include minion();
        }
    }
}
.c-article-feed {
    display: flex;
    flex-direction: column;
    gap: 0.5*$unit;
    list-style: none;
    margin: 0;
    padding: 0.5*$unit;

    @media screen and (min-width: 1800px) {
        gap: $unit;
        margin: 0 auto;
        max-width: 1800px;
        padding: $unit;
    }
}

.article-card {
    background-color: var(--color-slate);
    border: 1px solid var(--color-slated-20);
    border-radius: $border-radius--large;
    padding: 0.5*$unit;

    @media screen and (min-width: 450px) {
        padding: $unit;
    }
    
    @media screen and (min-width: 768px) {
        padding: 2*$unit;
        padding-bottom: 0;
    }

    &__head {
        padding-bottom: 0.5*$unit;
    
        @media screen and (min-width: 768px) {
            padding-bottom: $unit;
        }
    }

    &__title {
        color: var(--color-slate-80);
        font-size: var(--pica);
        line-height: 1.2;
        max-width: 60ch;
        text-wrap: balance;
    }

    &__main {
        //border-bottom: 1px solid $border-color;
        display: grid;
        gap: $unit;

        @media screen and (min-width: 1200px) {
            column-gap: 2*$unit;
            grid-template-columns: 2fr 2fr;
        }

        @at-root {
            .overview__aside {
                display: grid;

                @media screen and (min-width: 820px) {
                    gap: 2*$unit;
                    grid-template-columns: 1fr 1fr;
                }
            }

            .article-aside {
                border-top: 1px solid var(--color-slate-20);
                color: var(--color-slate-70);
                font-size: var(--brevier); 
                padding-inline: 0.5*$unit;
                padding-top: $unit;

                @media screen and (min-width: 1200px) {
                    
                    border-left: 1px solid var(--color-slate-20);
                    border-top: initial;
                    margin-block: $unit;
                    padding-left: 2*$unit;
                    padding-top: initial;
                }
            }
        }
    }

    @at-root {
        .overview__article {
            display: flex;
            flex-direction: column;
            gap: $unit;

            @media screen and (min-width: 1024px) {
                gap: 2*$unit;
            }
            
            > * {
                margin-bottom: 0;
            }


            .is-summary {
                padding-inline: 0.25*$unit;
            }
            .is-attention {
                background-color: var(--color-slate-10);
                border-radius: $border-radius;
                color: var(--color-slate-70);
                padding: $unit;

                @media screen and (min-width: 1024px) {
                    padding: 2*$unit;
                }
            }
        }
    }

    &__source {
        @include brevier();
        color: var(--color-gold-darker);
        cursor: pointer;
        font-weight: 700;
        transition: color $transition-time;

        &:hover {
            color: var(--color-gold);
        }
    }

    &__quote {
        padding: 0.5*$unit;
        background-color: var(--color-slated-20);
        border-radius: $border-radius;
        grid-area: quote;
        color: var(--color-slate-70);

        @media screen and (min-width: 768px) {
            padding: $unit;
        }

        @at-root {
            .key-quotes {
                @include brevier();

                display: grid;
                gap: $unit;
                grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) );
                list-style: none;
                margin: 0;
                padding: 0;

                @media screen and (min-width: 768px) {
                    @include primer();
                }

                > li {
                    display: flex;
                    gap: 0.5*$unit;

                    &::before {
                        background-image: url('../assets/quote.svg');
                        background-size: contain;
                        background-repeat: no-repeat;
                        content: '';
                        display: flex;
                        flex-shrink: 0;
                        height: 18px;
                        rotate: 180deg;
                        width: 18px;

                    }
                }
            }

            .quote-title {
                align-items: center;
                display: flex;
                flex-direction: row-reverse;
                gap: $unit;
                justify-content: space-between;
                margin-bottom: $unit;

                > is-icon {
                    color: var(--color-slate-70);
                    font-size: 18px;
                }


            }
        }

    }

    &__angle {
        @include primer();
        align-items: center;
        border: 1px solid $border-color;
        //background-color: var(--color-slate-30);
        color: var(--color-slate-80);
        display: flex;
        gap: 2*$unit;
        grid-column-start: 1;
        padding-inline: 2*$unit;

        @at-root .angle-title {
            align-items: center;
            display: flex;
            gap: $unit;
            margin-bottom: $unit;

            > .is-icon {
                color: var(--color-gold-darker);
            }
        }

        > .is-main {
            border-left: 1px solid $border-color;
            padding: 2*$unit;

            > * {
                margin-bottom: 0;
            }
        }

        > .is-leading {
            align-items: center;
            display: flex;
            gap: $unit;
            width: max-content;
        }
    }

    &__cta {
        display: flex;
        flex-direction: row-reverse;
        grid-area: cta;
        justify-content: space-between;

        
    }

    .copy-to-clipboard {
        @include minion();

        align-items: center;
        background-color: var(--color-slate-10);
        border-radius: $border-radius;
        color: var(--color-slate-70);
        cursor: pointer;
        display: flex;
        gap: 0.5*$unit;
        padding-block: 0.25*$unit;
        padding-inline: 0.5*$unit;
        transition: all $transition-time;
        width: max-content;

        &:hover {
            background-color: var(--color-slate-30);
            color: var(--slate-70);
        }

        > .is-icon {
            font-size: 18px;
        }
    }

    &__footer {
        align-items: flex-end;
        border-top: 1px solid $border-color;
        display: flex;
        justify-content: space-between;
        margin-left: -0.5*$unit;
        margin-right: -0.5*$unit;
        margin-top: $unit;
        padding-top: 0.5*$unit;
        padding-inline: 0.5*$unit;

        @media screen and (min-width: 1024px) {
            margin-left: -$unit;
            margin-right: -$unit;
            margin-top: 2*$unit;
            padding-inline: $unit;
            padding-top: initial;
        }
    }
}

.icon-title {
    @include long-primer();
    align-items: center;
    color: var(--color-slate-80);
    display: flex;
    gap: $unit;
    margin-bottom: 0.5*$unit;

    > .is-icon {
        color: var(--color-gold);
    }
}

.rate-article {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    //padding-inline: 0.5*$unit;
    //padding-top: 0.5*$unit;

    @media screen and (min-width: 768px) {
        align-items: center;
        flex-direction: row;
    }

    > .is-legend {
        @include brevier();

        color: var(--color-slate-80);
        margin-right: 0.5*$unit;
    }

    &__buttons {
        display: flex;

        > .is-thumb {
            background-color: transparent;
            background-position: center;
            background-repeat: no-repeat;
            border-radius: $border-radius--roundel;
            color: var(--color-slate-70);
            cursor: pointer;
            display: flex;
            height: 2*$unit;
            padding: 0.5*$unit;
            position: relative;
            overflow: hidden;
            transition: all $transition-time;
            width: 2*$unit;

            &:hover {
                background-color: var(--color-slate-20);
            }

            > .is-label {
                position: absolute;
                left: 100%;
            }

            &.is-thumb-up {
                background-image: url(../assets/thumb-up-off.svg);

                @at-root .rate-article__buttons > .is-thumb-up:hover {
                    background-image: url(../assets/thumb-up-on.svg);
                }
            }

            &.is-thumb-down {
                background-image: url(../assets/thumb-down-off.svg);

                @at-root .rate-article__buttons > .is-thumb-down:hover {
                    background-image: url(../assets/thumb-down-on.svg);
                }
            }
        }
    }
}

.btn-view-source {
    @include primer();
    background-color: var(--color-gold);
    border-radius: $border-radius--roundel;
    color: var(--color-gold-darkest);
    cursor: pointer;
    display: flex;
    gap: 0.5*$unit;
    padding-block: 0.5*$unit;
    padding-inline: $unit;
    transition: background-color $transition-time;
    width: max-content;

    &:hover {
        background-color: var(--color-slate-70);
    }
}

.share-article {
    display: flex;
    
    > .is-item {
        align-items: center;
        background-color: transparent;
        border-radius: $border-radius--roundel;
        cursor: pointer;
        display: flex;
        height: 32px;
        justify-content: center;
        padding: 0.5*$unit;
        transition: all $transition-time;
        width: 32px;

        &:hover {
            background-color: var(--color-slate-20);
        }

        > .is-icon {
            color: var(--color-slate-80);
            fill: var(--color-slate-80);
            transition: all $transition-time;

            @at-root {
                .share-article > .is-item:hover > .is-icon {
                    color: var(--color-slate-90);
                    fill: var(--color-slate-90);
                }
            }
        }
    }
}

