$unit: 1rem;
$border-color: var(--color-slated-20);
$border-radius: 4px;
$border-radius--small: 2px;
$border-radius--large: 8px;
$border-radius--xl: 16px;
$border-radius--roundel: 100px;

$transition-time: 0.4s;