_reset*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

ul[role=list], ol[role=list] {
  list-style: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

img, picture, svg, video, canvas {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  font-style: italic;
  background-repeat: no-repeat;
  background-size: cover;
}

input, button, textarea, select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *, *::before, *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
    transition: none;
  }
}
body, html {
  height: 100%;
  scroll-behavior: smooth;
}

body,
html {
  font-size: var(--primer);
  color: var(--color-slate-90);
  font-family: "DM Sans", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  line-height: 1.5;
  min-height: 100vh;
}

body {
  background-color: var(--color-slated-10);
  display: flex;
  flex-direction: column;
}

img {
  height: auto;
  max-width: 100%;
}

a {
  text-decoration: none;
}

::-moz-selection {
  color: var(--color-slate);
  background: var(--color-gold);
}

::selection {
  color: var(--color-slate);
  background: var(--color-gold);
}

.kirk, b {
  font-weight: 700;
}

.minion {
  font-size: var(--minion);
  font-weight: normal;
  line-height: 1.4;
}

.brevier {
  font-size: var(--brevier);
  font-weight: normal;
  line-height: 1.5;
  text-wrap: pretty;
}

.primer {
  font-size: var(--primer);
  line-height: 1.5;
  text-wrap: pretty;
}

.long-primer {
  font-size: var(--long-primer);
  line-height: 1.6;
  text-wrap: pretty;
}

.pica {
  font-size: var(--pica);
  font-weight: 700;
  line-height: 1.3;
  text-wrap: pretty;
}

.paragon {
  font-size: var(--paragon);
  font-weight: 700;
  letter-spacing: -0.02em;
  line-height: 1.2;
  text-wrap: pretty;
}

.type-uppercase {
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

h1, h2, h3, h4, h5, h6, p, li {
  font-size: 100%;
}

p {
  font-size: var(--primer);
  line-height: 1.5;
  text-wrap: pretty;
  margin-bottom: 1rem;
}
p > a:not(.c-button) {
  background: linear-gradient(to bottom, var(--color-gold) 0%, var(--color-gold) 100%);
  background-position: 0 100%;
  background-repeat: repeat-x;
  background-size: 4px 1px;
  color: var(--color-slate-70);
  text-decoration: none;
  transition: all 0.4s;
}
p > a:not(.c-button):hover {
  background-size: 4px 50px;
  color: var(--color-slate);
}

.jemmy-feed {
  display: grid;
  gap: 0.5rem;
  grid-template-columns: 1fr;
  margin-inline: auto;
  max-width: 100%;
  padding-block: 0.5rem;
  padding-inline: 0.5rem;
}
@media screen and (min-width: 768px) {
  .jemmy-feed {
    gap: 1rem;
    padding-block: 1rem;
    padding-inline: 1rem;
  }
}

.artifact-card {
  background-color: var(--color-slate);
  border: 1px solid var(--color-slated-30);
  border-radius: 8px;
  display: grid;
  grid-template-areas: "header" "source" "buyer" "footer";
  max-width: 900px;
  overflow: hidden;
}
@media screen and (min-width: 1500px) {
  .artifact-card {
    grid-template-areas: "header header" "source buyer" "footer footer";
    grid-template-columns: 4fr 3fr;
    max-width: 2000px;
  }
}
.artifact-card__head {
  font-size: var(--brevier);
  font-weight: normal;
  line-height: 1.5;
  text-wrap: pretty;
  background-color: hsl(200, 100%, 10%);
  border-bottom: 1px solid var(--color-slated-30);
  display: flex;
  flex-direction: column-reverse;
  gap: 0.5rem;
  grid-area: header;
  padding: 0.5rem;
}
@media screen and (min-width: 600px) {
  .artifact-card__head {
    flex-direction: row;
    justify-content: space-between;
    padding-block-end: 0.5rem;
    padding-block-start: 1rem;
    padding-inline: 1rem;
  }
}
.artifact-card__connections-summary {
  color: var(--color-slate-70);
}
.artifact-card__connections-summary > * {
  margin-bottom: 0;
}
.artifact-card__connections-list {
  font-size: var(--primer);
  line-height: 1.5;
  text-wrap: pretty;
  color: var(--color-gold-darker);
  display: flex;
  font-weight: bold;
  gap: 0.5rem;
  list-style: none;
  margin: 0;
  padding: 0;
}
.artifact-card__usp {
  color: var(--color-slate-70);
}
.artifact-card__usp::after {
  background-color: hsl(111, 50%, 60%);
  content: "";
  display: block;
  height: 2px;
  width: 2rem;
}
@media screen and (min-width: 600px) {
  .artifact-card__usp::after {
    content: initial;
  }
}
.artifact-card__source {
  grid-area: source;
  padding: 0.5rem;
}
@media screen and (min-width: 600px) {
  .artifact-card__source {
    padding-block-start: 1rem;
    padding-inline: 1rem;
  }
}
@media screen and (min-width: 1024px) {
  .artifact-card__source {
    padding-block-start: 2rem;
    padding-inline: 2rem;
  }
}
.artifact-card__source-head {
  display: flex;
  gap: 2rem;
  justify-content: space-between;
  padding-block: 0.5rem;
}
.artifact-card__source-head > .industry-type {
  font-size: var(--minion);
  font-weight: normal;
  line-height: 1.4;
  align-items: center;
  color: var(--color-gold-darker);
  display: flex;
  gap: 0.5rem;
  text-transform: uppercase;
}
.artifact-card__source-head > .industry-type > .is-icon {
  align-items: center;
  background-color: var(--color-gold-darker);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24px' viewBox='0 -960 960 960' width='24px' %3E%3Cpath d='M160-120q-33 0-56.5-23.5T80-200v-640l67 67 66-67 67 67 67-67 66 67 67-67 67 67 66-67 67 67 67-67 66 67 67-67v640q0 33-23.5 56.5T800-120H160Zm0-80h280v-240H160v240Zm360 0h280v-80H520v80Zm0-160h280v-80H520v80ZM160-520h640v-120H160v120Z'/%3E%3C/svg%3E");
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 100px;
  content: "";
  color: var(--color-gold-darkest);
  display: flex;
  height: 40px;
  flex-shrink: 0;
  justify-content: center;
  width: 40px;
}
.industry-type.type1 {
  color: hsl(10, 70%, 72%);
}
.industry-type.type1 > .is-icon {
  background-color: hsl(10, 70%, 72%);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24px' viewBox='0 -960 960 960' width='24px' %3E%3Cpath d='M160-120q-33 0-56.5-23.5T80-200v-640l67 67 66-67 67 67 67-67 66 67 67-67 67 67 66-67 67 67 67-67 66 67 67-67v640q0 33-23.5 56.5T800-120H160Zm0-80h280v-240H160v240Zm360 0h280v-80H520v80Zm0-160h280v-80H520v80ZM160-520h640v-120H160v120Z'/%3E%3C/svg%3E");
  color: hsl(10, 70%, 10%);
}
.industry-type.type2 {
  color: hsl(20, 65%, 75%);
}
.industry-type.type2 > .is-icon {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' enable-background='new 0 0 24 24' height='24px' viewBox='0 0 24 24' width='24px' %3E%3Cg%3E%3Crect fill='none' height='24' width='24'/%3E%3C/g%3E%3Cg%3E%3Cpath d='M12,2C6.48,2,2,6.48,2,12s4.48,10,10,10s10-4.48,10-10S17.52,2,12,2z M12.88,17.76V19h-1.75v-1.29 c-0.74-0.18-2.39-0.77-3.02-2.96l1.65-0.67c0.06,0.22,0.58,2.09,2.4,2.09c0.93,0,1.98-0.48,1.98-1.61c0-0.96-0.7-1.46-2.28-2.03 c-1.1-0.39-3.35-1.03-3.35-3.31c0-0.1,0.01-2.4,2.62-2.96V5h1.75v1.24c1.84,0.32,2.51,1.79,2.66,2.23l-1.58,0.67 c-0.11-0.35-0.59-1.34-1.9-1.34c-0.7,0-1.81,0.37-1.81,1.39c0,0.95,0.86,1.31,2.64,1.9c2.4,0.83,3.01,2.05,3.01,3.45 C15.9,17.17,13.4,17.67,12.88,17.76z'/%3E%3C/g%3E%3C/svg%3E");
  background-color: hsl(20, 65%, 75%);
  color: hsl(20, 65%, 10%);
}
.industry-type.type3 {
  color: hsl(30, 68%, 72%);
}
.industry-type.type3 > .is-icon {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' enable-background='new 0 0 24 24' height='24px' viewBox='0 0 24 24' width='24px' %3E%3Crect fill='none' height='24' width='24' y='0'/%3E%3Cpath d='M7,20h4c0,1.1-0.9,2-2,2S7,21.1,7,20z M5,19h8v-2H5V19z M16.5,9.5c0,3.82-2.66,5.86-3.77,6.5H5.27 C4.16,15.36,1.5,13.32,1.5,9.5C1.5,5.36,4.86,2,9,2S16.5,5.36,16.5,9.5z M21.37,7.37L20,8l1.37,0.63L22,10l0.63-1.37L24,8 l-1.37-0.63L22,6L21.37,7.37z M19,6l0.94-2.06L22,3l-2.06-0.94L19,0l-0.94,2.06L16,3l2.06,0.94L19,6z'/%3E%3C/svg%3E");
  background-color: hsl(30, 68%, 72%);
  color: hsl(30, 68%, 10%);
}
.industry-type.type4 {
  color: hsl(0, 69%, 73%);
}
.industry-type.type4 > .is-icon {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24px' viewBox='0 0 24 24' width='24px' %3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3Cpath d='M17 10H7v2h10v-2zm2-7h-1V1h-2v2H8V1H6v2H5c-1.11 0-1.99.9-1.99 2L3 19c0 1.1.89 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm0 16H5V8h14v11zm-5-5H7v2h7v-2z'/%3E%3C/svg%3E");
  background-color: hsl(0, 69%, 73%);
  color: hsl(0, 69%, 10%);
}
.industry-type.type5 {
  color: hsl(81, 68%, 73%);
}
.industry-type.type5 > .is-icon {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24px' viewBox='0 -960 960 960' width='24px' %3E%3Cpath d='M480-80q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 83-31.5 156T763-197q-54 54-127 85.5T480-80Zm0-120q25 0 42.5-17.5T540-260H420q0 25 17.5 42.5T480-200ZM360-300h240v-60H360v60Zm1-100h238q37-27 59-68.5t22-91.5q0-83-58.5-141.5T480-760q-83 0-141.5 58.5T280-560q0 50 22 91.5t59 68.5Zm22-60q-20-20-31.5-45.5T340-560q0-58 41-99t99-41q58 0 99 41t41 99q0 29-11.5 54.5T577-460H383Z'/%3E%3C/svg%3E");
  background-color: hsl(81, 68%, 73%);
  color: hsl(81, 68%, 10%);
}
.industry-type.type6 {
  color: hsl(45, 70%, 73%);
}
.industry-type.type6 > .is-icon {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' enable-background='new 0 0 24 24' height='24px' viewBox='0 0 24 24' width='24px' %3E%3Cg%3E%3Crect fill='none' height='24' width='24'/%3E%3C/g%3E%3Cg%3E%3Cpath d='M22,3l-1.67,1.67L18.67,3L17,4.67L15.33,3l-1.66,1.67L12,3l-1.67,1.67L8.67,3L7,4.67L5.33,3L3.67,4.67L2,3v16 c0,1.1,0.9,2,2,2l16,0c1.1,0,2-0.9,2-2V3z M11,19H4v-6h7V19z M20,19h-7v-2h7V19z M20,15h-7v-2h7V15z M20,11H4V8h16V11z'/%3E%3C/g%3E%3C/svg%3E");
  background-color: hsl(45, 70%, 73%);
  color: hsl(45, 70%, 10%);
}
.industry-type.type7 {
  color: hsl(65, 65%, 75%);
}
.industry-type.type7 > .is-icon {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24px' viewBox='0 0 24 24' width='24px' %3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3Cpath d='M16 6l2.29 2.29-4.88 4.88-4-4L2 16.59 3.41 18l6-6 4 4 6.3-6.29L22 12V6z'/%3E%3C/svg%3E");
  background-color: hsl(65, 65%, 75%);
  color: hsl(65, 65%, 10%);
}
.industry-type.type8 {
  color: hsl(160, 60%, 70%);
}
.industry-type.type8 > .is-icon {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24px' viewBox='0 -960 960 960' width='24px' %3E%3Cpath d='M480-80q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 83-31.5 156T763-197q-54 54-127 85.5T480-80Zm0-120q25 0 42.5-17.5T540-260H420q0 25 17.5 42.5T480-200ZM360-300h240v-60H360v60Zm1-100h238q37-27 59-68.5t22-91.5q0-83-58.5-141.5T480-760q-83 0-141.5 58.5T280-560q0 50 22 91.5t59 68.5Zm22-60q-20-20-31.5-45.5T340-560q0-58 41-99t99-41q58 0 99 41t41 99q0 29-11.5 54.5T577-460H383Z'/%3E%3C/svg%3E");
  background-color: hsl(160, 60%, 70%);
  color: hsl(160, 60%, 10%);
}
.industry-type.type9 {
  color: hsl(260, 55%, 75%);
}
.industry-type.type9 > .is-icon {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' enable-background='new 0 0 24 24' height='24px' viewBox='0 0 24 24' width='24px' %3E%3Crect fill='none' height='24' width='24'/%3E%3Cpath d='M19,3H4.99C3.89,3,3,3.9,3,5l0.01,14c0,1.1,0.89,2,1.99,2h10l6-6V5C21,3.9,20.1,3,19,3z M7,8h10v2H7V8z M12,14H7v-2h5V14z M14,19.5V14h5.5L14,19.5z'/%3E%3C/svg%3E");
  background-color: hsl(260, 55%, 75%);
  color: hsl(260, 55%, 10%);
}
.industry-type.type10 {
  color: hsl(200, 65%, 72%);
}
.industry-type.type10 > .is-icon {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24px' viewBox='0 0 24 24' width='24px' %3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3Cpath d='M19 3h-4.18C14.4 1.84 13.3 1 12 1c-1.3 0-2.4.84-2.82 2H5c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm-7 0c.55 0 1 .45 1 1s-.45 1-1 1-1-.45-1-1 .45-1 1-1zm2 14H7v-2h7v2zm3-4H7v-2h10v2zm0-4H7V7h10v2z'/%3E%3C/svg%3E");
  background-color: hsl(200, 65%, 72%);
  color: hsl(200, 65%, 10%);
}
.industry-type.type11 {
  color: hsl(320, 50%, 70%);
}
.industry-type.type11 > .is-icon {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24px' viewBox='0 -960 960 960' width='24px' %3E%3Cpath d='M480-80q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 83-31.5 156T763-197q-54 54-127 85.5T480-80Zm0-120q25 0 42.5-17.5T540-260H420q0 25 17.5 42.5T480-200ZM360-300h240v-60H360v60Zm1-100h238q37-27 59-68.5t22-91.5q0-83-58.5-141.5T480-760q-83 0-141.5 58.5T280-560q0 50 22 91.5t59 68.5Zm22-60q-20-20-31.5-45.5T340-560q0-58 41-99t99-41q58 0 99 41t41 99q0 29-11.5 54.5T577-460H383Z'/%3E%3C/svg%3E");
  background-color: hsl(320, 50%, 70%);
  color: hsl(320, 50%, 10%);
}
.industry-type.type12 {
  color: hsl(340, 57%, 68%);
}
.industry-type.type12 > .is-icon {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' enable-background='new 0 0 24 24' height='24px' viewBox='0 0 24 24' width='24px' %3E%3Cg%3E%3Cpath d='M0,0h24v24H0V0z' fill='none'/%3E%3C/g%3E%3Cg%3E%3Cpath d='M20,2H4C2.9,2,2,2.9,2,4v18l4-4h14c1.1,0,2-0.9,2-2V4C22,2.9,21.1,2,20,2z M13.57,11.57L12,15l-1.57-3.43L7,10l3.43-1.57 L12,5l1.57,3.43L17,10L13.57,11.57z'/%3E%3C/g%3E%3C/svg%3E");
  background-color: hsl(340, 57%, 68%);
  color: hsl(340, 57%, 10%);
}

.artifact-card__summary {
  font-size: var(--primer);
  line-height: 1.5;
  text-wrap: pretty;
  color: var(--color-slate-80);
}
.artifact-card__summary .is-title {
  color: var(--color-slate-70);
}
.artifact-card__tag-list {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}
.artifact-card__buyers {
  grid-area: buyer;
  overflow: hidden;
  padding-block: 1rem;
}
@media screen and (min-width: 600px) {
  .artifact-card__buyers {
    padding-block-start: 1rem;
  }
}
@media screen and (min-width: 1024px) {
  .artifact-card__buyers {
    padding-block-start: 2rem;
  }
}
.artifact-card__buyers > .is-title {
  color: var(--color-slate-70);
  margin-left: 0.5rem;
}
@media screen and (min-width: 600px) {
  .artifact-card__buyers > .is-title {
    margin-inline-start: 1rem;
  }
}
@media screen and (min-width: 1024px) {
  .artifact-card__buyers > .is-title {
    margin-inline-start: 2rem;
  }
}
.artifact-card__footer {
  align-items: center;
  border-top: 1px solid var(--color-slated-30);
  display: flex;
  grid-area: footer;
  justify-content: space-between;
  padding-block: 1rem;
  padding-inline: 1rem;
}

.like-button {
  font-size: var(--brevier);
  font-weight: normal;
  line-height: 1.5;
  text-wrap: pretty;
  align-items: center;
  background: transparent;
  border: none;
  border-radius: 4px;
  color: var(--color-gold-darker);
  cursor: pointer;
  display: flex;
  height: 2rem;
  justify-content: center;
  outline: none;
  padding-inline-end: 0.5rem;
  padding-inline-start: 0.25rem;
  transition: all 0.4s ease;
  width: -moz-max-content;
  width: max-content;
}
.like-button:hover {
  background-color: var(--color-slate-20);
}
.like-button.liked > .is-icon {
  color: var(--color-gold);
}

.buyer-card {
  background-color: hsl(200, 100%, 10%);
  border: 1px solid var(--color-slated-20);
  border-radius: 4px;
  color: var(--color-slate-80);
  flex-shrink: 0;
  inline-size: 300px;
  padding: 0.5rem;
  /*&__score {
      @include minion();

      background-color: var(--color-slated-50);
      border: 1px solid var(--color-slated-50);
      border-radius: $border-radius;
      color: var(--color-slate-10);
      display: flex;
      justify-content: space-between;
      letter-spacing: 0.02em;
      padding-inline: 0.5*$unit;
      text-transform: uppercase;
  }*/
}
.buyer-card__cv {
  color: var(--color-slate-80);
  margin-block-end: 0.5rem;
}
.buyer-card__cv > * {
  margin-bottom: 0;
}
.buyer-card__cv > .is-org {
  color: var(--color-gold-darker);
}
.buyer-card__relevance::before {
  background-color: hsl(20, 99%, 46%);
  content: "";
  display: block;
  height: 2px;
  margin-block-end: 0.5rem;
  margin-block-start: 0.25rem;
  width: 2rem;
}
.buyer-card__relevance > .is-label {
  color: var(--color-slate-50);
  letter-spacing: 0.075em;
}
.buyer-card__stars {
  color: var(--color-gold-darker);
}
.buyer-card__connections-list {
  font-size: var(--minion);
  font-weight: normal;
  line-height: 1.4;
  color: var(--color-slate-70);
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
}
.buyer-card__connections-list > li {
  align-items: center;
  display: flex;
}

.o-scroll-panel {
  display: flex;
  gap: 0.5rem;
  overflow-x: auto;
  overscroll-behavior-inline: contain;
  padding-block-end: 0.5rem;
}
.o-scroll-panel > :nth-child(1) {
  margin-left: 0.5rem;
}
@media screen and (min-width: 600px) {
  .o-scroll-panel > :nth-child(1) {
    margin-left: 1rem;
  }
}
@media screen and (min-width: 1024px) {
  .o-scroll-panel > :nth-child(1) {
    margin-left: 2rem;
  }
}
.o-scroll-panel > *:nth-last-child(1) {
  margin-right: 0.5rem;
}
@media screen and (min-width: 600px) {
  .o-scroll-panel > *:nth-last-child(1) {
    margin-right: 1rem;
  }
}
@media screen and (min-width: 1024px) {
  .o-scroll-panel > *:nth-last-child(1) {
    margin-right: 2rem;
  }
}

.o-tag {
  font-size: var(--brevier);
  font-weight: normal;
  line-height: 1.5;
  text-wrap: pretty;
  align-items: center;
  color: var(--color-slated-50);
  display: flex;
  gap: 0.15rem;
  padding-inline: 0.25rem;
  width: -moz-max-content;
  width: max-content;
}
.o-tag:before {
  content: "#";
}
.o-tag.is-topic::before, .o-tag.is-industry::before {
  color: var(--color-slated-50);
}
.o-tag.is-region {
  border: 1px solid var(--color-slate-70);
  border-radius: 4px;
  color: var(--color-slate-70);
  gap: 0;
  padding-block: 0.1rem;
  padding-inline: 0.25rem;
}
.o-tag.is-region::before {
  content: "";
}

.btn-outline {
  align-items: center;
  background-color: transparent;
  border: 1px solid var(--color-slate-50);
  border-radius: 100px;
  color: var(--color-slate-50);
  cursor: pointer;
  display: flex;
  height: 2rem;
  padding-inline: 0.5rem;
  min-width: -moz-max-content;
  min-width: max-content;
  transition: all 0.4s ease-in-out;
}
.btn-outline:hover {
  background-color: var(--color-gold);
  border-color: var(--color-gold);
  color: var(--color-gold-darkest);
}

.btn-engage {
  align-items: center;
  background-color: var(--color-gold);
  border-radius: 4px;
  color: var(--color-gold-darkest);
  cursor: pointer;
  display: flex;
  height: 2rem;
  padding-inline: 0.5rem;
  transition: all 0.4s ease-in-out;
  width: -moz-max-content;
  width: max-content;
}
.btn-engage:hover {
  background-color: var(--color-slate-30);
  color: var(--color-slate-90);
}

.media-scroller {
  --_spacer: var(--size-3);
  display: grid;
  gap: var(--_spacer);
  grid-auto-flow: column;
  grid-auto-columns: 21%;
  padding: 0 var(--_spacer) var(--_spacer);
  overflow-x: auto;
  overscroll-behavior-inline: contain;
}

.media-scroller--with-groups {
  grid-auto-columns: 80%;
}

.media-group {
  display: grid;
  gap: var(--_spacer);
  grid-auto-flow: column;
}

.media-element {
  display: grid;
  grid-template-rows: min-content;
  gap: var(--_spacer);
  padding: var(--_spacer);
  background: var(--surface-2);
  border-radius: var(--radius-2);
  box-shadow: var(--shadow-2);
}

.media-element > img {
  inline-size: 100%;
  aspect-ratio: 16/9;
  -o-object-fit: cover;
     object-fit: cover;
}

.snaps-inline {
  scroll-snap-type: inline mandatory;
  scroll-padding-inline: var(--_spacer, 1rem);
}

.snaps-inline > * {
  scroll-snap-align: start;
}

/* general styling */
.container {
  inline-size: min(100% - 4rem, 70rem);
  margin-inline: auto;
}

.flow {
  display: grid;
  gap: var(--size-3);
}

.page-header {
  padding-block: var(--size-9);
  margin-block-end: var(--size-9);
  background: var(--gradient-16);
  color: var(--gray-0);
  box-shadow: var(--shadow-2);
}

.page-title {
  font-size: var(--font-size-fluid-3);
}

.page-subtitle {
  font-size: var(--font-size-fluid-1);
}

.section-title {
  padding-inline-start: var(--size-6);
  margin-block: var(--size-9) var(--size-3);
}

.c-site-header {
  align-items: center;
  background-color: var(--color-slate);
  color: var(--color-slated-80);
  display: flex;
  justify-content: space-between;
  padding-block: 0.5rem;
  padding-inline: 0.5rem;
  z-index: 9;
}
@media screen and (min-width: 768px) {
  .c-site-header {
    padding-inline: 1rem;
  }
}
.c-site-header__logo {
  height: 28px;
}
@media screen and (min-width: 768px) {
  .c-site-header__logo {
    height: 44px;
  }
}
.c-site-header__tag {
  font-size: var(--minion);
  font-weight: normal;
  line-height: 1.4;
  color: var(--color-slated-50);
}
@media screen and (min-width: 768px) {
  .c-site-header__tag {
    font-size: var(--brevier);
    font-weight: normal;
    line-height: 1.5;
    text-wrap: pretty;
  }
}

.c-page {
  padding-inline: 0.5rem;
  z-index: 8;
}
@media screen and (min-width: 768px) {
  .c-page {
    margin: 0 auto;
    padding-inline: 1rem;
  }
}

.person-info {
  align-items: center;
  background-color: var(--color-slate-10);
  border-radius: 4px;
  color: var(--color-gold-darker);
  display: flex;
  gap: 0.5rem;
  padding: 0.5rem;
  width: -moz-max-content;
  width: max-content;
}
.person-info > .is-leading-icon {
  color: var(--color-gold);
}
.person-info > .is-labels {
  align-items: center;
  display: flex;
  gap: 0.5rem;
}
.person-info > .is-labels > * {
  margin-bottom: 0;
}
.person-info > .is-labels > .is-name {
  align-items: center;
  display: flex;
}
.person-info > .is-labels > .is-name:after {
  color: var(--color-slate-50);
  content: "|";
  margin-left: 0.5rem;
}
.person-info > .is-labels > .is-role {
  font-size: var(--minion);
  font-weight: normal;
  line-height: 1.4;
}

.c-article-feed {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  list-style: none;
  margin: 0;
  padding: 0.5rem;
}
@media screen and (min-width: 1800px) {
  .c-article-feed {
    gap: 1rem;
    margin: 0 auto;
    max-width: 1800px;
    padding: 1rem;
  }
}

.article-card {
  background-color: var(--color-slate);
  border: 1px solid var(--color-slated-20);
  border-radius: 8px;
  padding: 0.5rem;
}
@media screen and (min-width: 450px) {
  .article-card {
    padding: 1rem;
  }
}
@media screen and (min-width: 768px) {
  .article-card {
    padding: 2rem;
    padding-bottom: 0;
  }
}
.article-card__head {
  padding-bottom: 0.5rem;
}
@media screen and (min-width: 768px) {
  .article-card__head {
    padding-bottom: 1rem;
  }
}
.article-card__title {
  color: var(--color-slate-80);
  font-size: var(--pica);
  line-height: 1.2;
  max-width: 60ch;
  text-wrap: balance;
}
.article-card__main {
  display: grid;
  gap: 1rem;
}
@media screen and (min-width: 1200px) {
  .article-card__main {
    -moz-column-gap: 2rem;
         column-gap: 2rem;
    grid-template-columns: 2fr 2fr;
  }
}
.overview__aside {
  display: grid;
}
@media screen and (min-width: 820px) {
  .overview__aside {
    gap: 2rem;
    grid-template-columns: 1fr 1fr;
  }
}

.article-aside {
  border-top: 1px solid var(--color-slate-20);
  color: var(--color-slate-70);
  font-size: var(--brevier);
  padding-inline: 0.5rem;
  padding-top: 1rem;
}
@media screen and (min-width: 1200px) {
  .article-aside {
    border-left: 1px solid var(--color-slate-20);
    border-top: initial;
    margin-block: 1rem;
    padding-left: 2rem;
    padding-top: initial;
  }
}

.overview__article {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
@media screen and (min-width: 1024px) {
  .overview__article {
    gap: 2rem;
  }
}
.overview__article > * {
  margin-bottom: 0;
}
.overview__article .is-summary {
  padding-inline: 0.25rem;
}
.overview__article .is-attention {
  background-color: var(--color-slate-10);
  border-radius: 4px;
  color: var(--color-slate-70);
  padding: 1rem;
}
@media screen and (min-width: 1024px) {
  .overview__article .is-attention {
    padding: 2rem;
  }
}

.article-card__source {
  font-size: var(--brevier);
  font-weight: normal;
  line-height: 1.5;
  text-wrap: pretty;
  color: var(--color-gold-darker);
  cursor: pointer;
  font-weight: 700;
  transition: color 0.4s;
}
.article-card__source:hover {
  color: var(--color-gold);
}
.article-card__quote {
  padding: 0.5rem;
  background-color: var(--color-slated-20);
  border-radius: 4px;
  grid-area: quote;
  color: var(--color-slate-70);
}
@media screen and (min-width: 768px) {
  .article-card__quote {
    padding: 1rem;
  }
}
.key-quotes {
  font-size: var(--brevier);
  font-weight: normal;
  line-height: 1.5;
  text-wrap: pretty;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  list-style: none;
  margin: 0;
  padding: 0;
}
@media screen and (min-width: 768px) {
  .key-quotes {
    font-size: var(--primer);
    line-height: 1.5;
    text-wrap: pretty;
  }
}
.key-quotes > li {
  display: flex;
  gap: 0.5rem;
}
.key-quotes > li::before {
  background-image: url("../assets/quote.svg");
  background-size: contain;
  background-repeat: no-repeat;
  content: "";
  display: flex;
  flex-shrink: 0;
  height: 18px;
  rotate: 180deg;
  width: 18px;
}

.quote-title {
  align-items: center;
  display: flex;
  flex-direction: row-reverse;
  gap: 1rem;
  justify-content: space-between;
  margin-bottom: 1rem;
}
.quote-title > is-icon {
  color: var(--color-slate-70);
  font-size: 18px;
}

.article-card__angle {
  font-size: var(--primer);
  line-height: 1.5;
  text-wrap: pretty;
  align-items: center;
  border: 1px solid var(--color-slated-20);
  color: var(--color-slate-80);
  display: flex;
  gap: 2rem;
  grid-column-start: 1;
  padding-inline: 2rem;
}
.angle-title {
  align-items: center;
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
}
.angle-title > .is-icon {
  color: var(--color-gold-darker);
}

.article-card__angle > .is-main {
  border-left: 1px solid var(--color-slated-20);
  padding: 2rem;
}
.article-card__angle > .is-main > * {
  margin-bottom: 0;
}
.article-card__angle > .is-leading {
  align-items: center;
  display: flex;
  gap: 1rem;
  width: -moz-max-content;
  width: max-content;
}
.article-card__cta {
  display: flex;
  flex-direction: row-reverse;
  grid-area: cta;
  justify-content: space-between;
}
.article-card .copy-to-clipboard {
  font-size: var(--minion);
  font-weight: normal;
  line-height: 1.4;
  align-items: center;
  background-color: var(--color-slate-10);
  border-radius: 4px;
  color: var(--color-slate-70);
  cursor: pointer;
  display: flex;
  gap: 0.5rem;
  padding-block: 0.25rem;
  padding-inline: 0.5rem;
  transition: all 0.4s;
  width: -moz-max-content;
  width: max-content;
}
.article-card .copy-to-clipboard:hover {
  background-color: var(--color-slate-30);
  color: var(--slate-70);
}
.article-card .copy-to-clipboard > .is-icon {
  font-size: 18px;
}
.article-card__footer {
  align-items: flex-end;
  border-top: 1px solid var(--color-slated-20);
  display: flex;
  justify-content: space-between;
  margin-left: -0.5rem;
  margin-right: -0.5rem;
  margin-top: 1rem;
  padding-top: 0.5rem;
  padding-inline: 0.5rem;
}
@media screen and (min-width: 1024px) {
  .article-card__footer {
    margin-left: -1rem;
    margin-right: -1rem;
    margin-top: 2rem;
    padding-inline: 1rem;
    padding-top: initial;
  }
}

.icon-title {
  font-size: var(--long-primer);
  line-height: 1.6;
  text-wrap: pretty;
  align-items: center;
  color: var(--color-slate-80);
  display: flex;
  gap: 1rem;
  margin-bottom: 0.5rem;
}
.icon-title > .is-icon {
  color: var(--color-gold);
}

.rate-article {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
@media screen and (min-width: 768px) {
  .rate-article {
    align-items: center;
    flex-direction: row;
  }
}
.rate-article > .is-legend {
  font-size: var(--brevier);
  font-weight: normal;
  line-height: 1.5;
  text-wrap: pretty;
  color: var(--color-slate-80);
  margin-right: 0.5rem;
}
.rate-article__buttons {
  display: flex;
}
.rate-article__buttons > .is-thumb {
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 100px;
  color: var(--color-slate-70);
  cursor: pointer;
  display: flex;
  height: 2rem;
  padding: 0.5rem;
  position: relative;
  overflow: hidden;
  transition: all 0.4s;
  width: 2rem;
}
.rate-article__buttons > .is-thumb:hover {
  background-color: var(--color-slate-20);
}
.rate-article__buttons > .is-thumb > .is-label {
  position: absolute;
  left: 100%;
}
.rate-article__buttons > .is-thumb.is-thumb-up {
  background-image: url(../assets/thumb-up-off.svg);
}
.rate-article__buttons > .is-thumb-up:hover {
  background-image: url(../assets/thumb-up-on.svg);
}

.rate-article__buttons > .is-thumb.is-thumb-down {
  background-image: url(../assets/thumb-down-off.svg);
}
.rate-article__buttons > .is-thumb-down:hover {
  background-image: url(../assets/thumb-down-on.svg);
}

.btn-view-source {
  font-size: var(--primer);
  line-height: 1.5;
  text-wrap: pretty;
  background-color: var(--color-gold);
  border-radius: 100px;
  color: var(--color-gold-darkest);
  cursor: pointer;
  display: flex;
  gap: 0.5rem;
  padding-block: 0.5rem;
  padding-inline: 1rem;
  transition: background-color 0.4s;
  width: -moz-max-content;
  width: max-content;
}
.btn-view-source:hover {
  background-color: var(--color-slate-70);
}

.share-article {
  display: flex;
}
.share-article > .is-item {
  align-items: center;
  background-color: transparent;
  border-radius: 100px;
  cursor: pointer;
  display: flex;
  height: 32px;
  justify-content: center;
  padding: 0.5rem;
  transition: all 0.4s;
  width: 32px;
}
.share-article > .is-item:hover {
  background-color: var(--color-slate-20);
}
.share-article > .is-item > .is-icon {
  color: var(--color-slate-80);
  fill: var(--color-slate-80);
  transition: all 0.4s;
}
.share-article > .is-item:hover > .is-icon {
  color: var(--color-slate-90);
  fill: var(--color-slate-90);
}

.c-page-media {
  align-items: flex-start;
  display: flex;
  justify-content: center;
  max-height: 280px;
}
.c-page-media > img {
  -o-object-fit: cover;
     object-fit: cover;
}

.modal {
  display: none;
  position: fixed;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--color-slate);
  overflow: auto;
  z-index: 99;
}
.modal__head {
  background-color: var(--color-slate);
  border-bottom: 1px solid var(--color-slated-20);
  padding-block: 0.5rem;
  padding-inline: 1rem;
  position: fixed;
  width: 100%;
}
.modal__head > .is-close {
  font-size: var(--brevier);
  font-weight: normal;
  line-height: 1.5;
  text-wrap: pretty;
  align-items: center;
  background-color: transparent;
  border-radius: 4px;
  display: flex;
  color: var(--color-slate-80);
  cursor: pointer;
  gap: 0.5rem;
  padding: 0.5rem;
  transition: background-color 0.4s;
  width: -moz-max-content;
  width: max-content;
}
.modal__head > .is-close:hover {
  background-color: var(--color-slated-20);
  color: var(--color-slate-70);
}
.modal__content {
  background: var(--color-slated-10);
  display: flex;
  flex-direction: column;
}

.c-article-feed {
  margin-top: 60px;
}

.companies-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-inline: 0.5rem;
}
@media screen and (min-width: 900px) {
  .companies-list {
    margin: 0 auto;
    max-width: 900px;
    padding-inline: 1rem;
  }
}
.companies-list__company > .is-name {
  font-size: var(--long-primer);
  line-height: 1.6;
  text-wrap: pretty;
  color: var(--color-gold);
  margin-bottom: 0.5rem;
  margin-left: 0.25rem;
}
.companies-list__menu {
  display: flex;
  gap: 0.5rem;
}
.companies-list__menu > .is-item {
  font-size: var(--brevier);
  font-weight: normal;
  line-height: 1.5;
  text-wrap: pretty;
  background-color: var(--color-slate-20);
  border-radius: 4px;
  color: var(--color-slate-80);
  padding-block: 0.25rem;
  padding-inline: 0.5rem;
  transition: all 0.4s;
}
.companies-list__menu > .is-item:hover {
  background-color: var(--color-slate-30);
  color: var(--color-slate-90);
}

.roles-list {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  list-style: none;
  margin: 0;
  padding: 0;
  max-width: 100%;
  width: 800px;
}
.roles-list__role {
  align-items: center;
  background-color: var(--color-slate);
  border: 1px solid var(--color-slate-20);
  border-radius: 4px;
  color: var(--color-slate-90);
  cursor: pointer;
  display: grid;
  gap: 0.5rem;
  grid-template-areas: "icon name-role article-count flags";
  grid-template-columns: min-content auto max-content min-content;
  padding-inline: 0.5rem;
  padding-block: 0.25rem;
  transition: all 0.4s;
}
@media screen and (min-width: 768px) {
  .roles-list__role {
    gap: 1rem;
    padding-inline: 1rem;
    padding-block: 0.5rem;
  }
}
.roles-list__role:hover {
  background-color: var(--color-slate-10);
  border-color: var(--color-slate-80);
}
.roles-list__role > .is-leading-icon {
  color: var(--color-slated-50);
  font-size: 32px;
  grid-area: icon;
}
@media screen and (min-width: 768px) {
  .roles-list__role > .is-leading-icon {
    font-size: 40px;
  }
}
.roles-list__role > .is-name-role {
  grid-area: name-role;
}
.roles-list__role > .is-name-role > .is-name {
  font-size: var(--long-primer);
  line-height: 1.6;
  text-wrap: pretty;
  color: var(--color-slate-90);
}
.roles-list__role > .is-name-role > .is-role {
  font-size: var(--primer);
  line-height: 1.5;
  text-wrap: pretty;
  color: var(--color-slate-80);
  margin-bottom: 0;
}
.roles-list__role > .is-article-count {
  font-size: var(--brevier);
  font-weight: normal;
  line-height: 1.5;
  text-wrap: pretty;
  align-items: center;
  background-color: transparent;
  border: 1px solid var(--color-gold);
  border-radius: 100px;
  color: var(--color-gold);
  display: flex;
  grid-area: article-count;
  height: 32px;
  justify-content: center;
  text-align: center;
  transition: background-color 0.4s;
  width: 32px;
}
.roles-list__role > .is-article-count > span {
  font-size: 18px;
}
@media screen and (min-width: 768px) {
  .roles-list__role > .is-article-count {
    height: 40px;
    width: 40px;
  }
  .roles-list__role > .is-article-count > span {
    font-size: 24px;
  }
}
.roles-list__role:hover .is-article-count {
  background-color: var(--color-gold);
  color: var(--color-gold-darkest);
}

.roles-list__role > .is-flags {
  display: flex;
  gap: 0.5rem;
  grid-area: flags;
  margin-left: auto;
}
.roles-list__role > .is-flags > .is-flag {
  align-items: center;
  background-color: var(--color-slated-20);
  border-radius: 4px;
  display: flex;
  color: var(--color-slated-50);
  height: 2rem;
  padding-inline: 0.5rem;
}

.page-footer {
  font-size: var(--minion);
  font-weight: normal;
  line-height: 1.4;
  align-items: center;
  background-color: var(--color-slate);
  border-top: 1px solid var(--color-slated-20);
  color: var(--color-slate-80);
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
  padding-block: 0.5rem;
  padding-inline: 1rem;
}
.page-footer > .is-logo {
  height: 24px;
}

.c-home {
  min-height: 100%;
  margin-inline: auto;
  max-width: 1800px;
}
@media screen and (min-width: 1000px) {
  .c-home {
    background-image: url(../assets/home-media-lrg.webp);
    background-repeat: no-repeat;
    background-position: right;
    height: 100%;
  }
}
.c-home__layout {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin-inline: 2vw;
}
@media screen and (min-width: 1000px) {
  .c-home__layout {
    justify-content: center;
    margin-inline: 5vw;
  }
}
@media screen and (min-width: 1200px) {
  .c-home__layout {
    margin-inline: 10vw;
  }
}
@media screen and (min-width: 768px) {
  .c-home__main {
    padding-inline-end: 10vw;
  }
}
@media screen and (min-width: 1000px) {
  .c-home__main > .is-media {
    display: none;
    visibility: hidden;
  }
}
.c-home__coming-soon > .is-label {
  color: var(--color-slate-70);
  margin-left: 0.25rem;
}
.c-home__coming-soon > .is-label:before {
  background-color: tomato;
  content: "";
  display: block;
  height: 4px;
  margin-bottom: 1rem;
  width: 4rem;
}
.c-home__coming-soon > .is-more-info {
  color: var(--color-gold-darker);
  font-weight: normal;
  margin-left: 0.25rem;
}
.c-home__coming-soon > .is-action {
  font-size: var(--long-primer);
  line-height: 1.6;
  text-wrap: pretty;
  align-items: center;
  background-color: var(--color-gold);
  color: var(--color-gold-darkest);
  border-radius: 100px;
  cursor: pointer;
  display: flex;
  gap: 0.5rem;
  font-weight: normal;
  line-height: 1;
  padding-block: 1rem;
  padding-inline: 1.5rem;
  transition: all 0.4s ease;
  width: -moz-max-content;
  width: max-content;
}
.c-home__coming-soon > .is-action:hover {
  background-color: var(--color-slate-30);
  color: var(--color-slate-90);
}
.c-home__kicker {
  font-size: var(--long-primer);
  line-height: 1.6;
  text-wrap: pretty;
  color: var(--color-slate-50);
  font-weight: normal;
  letter-spacing: 0.08em;
  text-transform: uppercase;
}
.c-home__kicker > .has-underline {
  display: inline-flex;
  flex-direction: column;
  width: -moz-max-content;
  width: max-content;
}
.c-home__kicker > .has-underline:after {
  background-color: var(--color-gold);
  content: "";
  height: 4px;
  margin-top: -0.5rem;
  width: 100%;
}
.c-home__headline {
  font-size: var(--paragon);
  font-weight: 700;
  letter-spacing: -0.02em;
  line-height: 1.2;
  text-wrap: pretty;
  color: var(--color-slate-80);
}

.u-hard-top {
  margin-top: 0 !important;
}/*# sourceMappingURL=styles.css.map */
